/*
text white: #daddd6
text blue: #79acd2
text green: #a5bb6d
text teal: #4dc7ba
text red: #e67b7b
*/

body {
    background-color: #242424;

    font-family: "Source Code Pro", monospace;
    font-size: 15px;
    color: #daddd6;
}

h1 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 10px;
}

a, a:visited, a:active {
    color: #79acd2;
    text-decoration: none;
}

a:hover {
    color: #e67b7b;
}

body, .container, .sidebar, .gallery {
    height: 100%;
}

.container {
    display: flex;
}

.sidebar {
    float: left;
    width: 200px;
}

.gallery, .view {
    float: right;
    flex: 1;
}

.gallery div.record {
    float: left;

    height: 200px;
    width: 200px;

    margin: 10px;
}

.gallery div.record img {
    max-height: 200px;
    max-width: 200px;

    display: block;
    margin: auto;

    box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.7);
}

.view div.image img {
    display: block;

    margin: 10px;
    box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.7);
}

.view .discord img {
    float: left;
    height: 25px;
    width: 25px;

}
