body, .container, .sidebar, .gallery {
    height: 100%;
    margin: 10px;
}

.container {
    display: flex;
}

.sidebar {
    float: left;
    width: 200px;
}

.gallery {
    float: right;
    flex: 1;
}

div.record {
    float: left;

    height: 200px;
    width: 200px;

    margin: 10px;
}

div.record img {
    max-height: 200px;
    max-width: 200px;

    display: block;
    margin: auto;

    box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.7);
}
